.login-modal {
  width: 600px;
  padding: 20px;
  position: fixed;
  top: 25%;
  left: 50%;
  margin: -75px -300px;
  border: 1px solid #ccc;
  border-radius: 15px;
  .facebook-login, .google-login, .twitter-login {
    text-align: left;
    color: white;
    width: 100%;
  }
  .facebook-login {
    background-color: #3f5c9a;
  }
  .google-login {
    background-color: #d34836;
  }
  .twitter-login {
    background-color: #00aced;
  }
  .btn:hover {
    opacity: 0.75;
  }
  .login-info {
    border-right: 1px solid #ccc;
  }
  .forgot-password, .forgetten-password-back, .new-user {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
