@import 'navigation';
@import 'login';

.app-class {
  display: grid;
  height: 100vh;
}

.choose-location {
  display: grid;
  height: 250px;
  border: solid 1px #cccccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
