@import 'navigation';
@import 'login';
@import 'switch';

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600');
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif !important;
  background-color: #fff;
}

@font-face {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.app-icon {
  margin-top: -3px;
  width: 90%;
}

.children-wrap {
  display: grid;
  height: 100vh;
  background: #fff;
}

.pump-detail-wrapper {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 10px;
  height: 80%;
  margin-top: 120px;
  border-radius: 5px;
  position: relative;
  .log-week {
    z-index: 1;
    position: relative;
    margin-left: 15px;
    margin-top: 20px;
  }
  [id^=column-chart] {
    margin-top: -35px;
    height: 360px !important;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  .add-new-pump {
    position: absolute;
    right: 0;
    top: -40px;
  }
  .tab-content {
    margin-top: 15px;
  }
  .fa-pencil-square-o {
    margin-left: 15px;
    cursor: pointer;
  }
  [id^=pie-chart] > div {
    border-left: 1px solid #ddd;
  }
  .fa-check-square-o {
    cursor: pointer;
    margin-top: 10px;
    &:hover {
      color: #08b;
    }
  }
}

.choose-location {
  display: grid;
  height: 250px;
  border: solid 1px #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.pump-detail {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: flex;
  margin: 0 15px;
  .other-detail {
    span {
      margin-right: 5px;
      text-transform: capitalize;
    }
    .seperator {
      margin-right: 20px;
    }
    i {
      font-size: 10px;
      color: #646464;
    }
  }
}

.transition {
  transition: all .3s ease;
  &:hover {
    transform: scale(1.1);
    z-index: 10;
  }
}
