.marker-information {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  margin: 15px;
  border: 1px solid #eee;
}
.close-icon {
  float: right;
  margin: 5px -8px;
  cursor: pointer;
}